<div class="container pt-5">
  <div class="card">
    <div class="card-header">
      Projects
    </div>
    <div class="card-body">
    <% @projects.each do |project| %>
      <h5 class="card-title"> <%=project.name %> </h5>
      <p class="card-text"><%=project.description %></p>
    <%= link_to "Create Project" ,new_project_path %>
    <%= link_to "Edit" ,edit_project_path(project) %>
    <%= link_to "Delete", project, method: :delete %>
    <% end %>
     </div>
  </div>
</div>


