<p id="notice"><%= notice %></p>

<p>
  <strong>Name</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User</strong>
  <%= @project.user %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<hr>

<h1>ADD new bug</h1>

<%= render 'bugs/form' %>

<hr>
<h1>Bugs List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Deadline</th>
    <th>Type</th>
    <th>Status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.bugs.each do |bug| %>
  <% if bug.persisted? %>
  <tr>
    <td><%= bug.title %></td>
    <td><%= bug.deadline %></td>
    <td><%= bug.type %></td>
    <td><%= bug.status %></td>
    <td><%= bug.project %></td>
    <td><%= link_to 'Show', [bug.project, bug] %></td>
    <td><%= link_to 'Edit', edit_project_bug_path(bug.project, bug) %></td>
    <td><%= link_to 'Destroy', [bug.project, bug], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Bug', new_project_bug_path(@project.id) %>
