<h1>Listing bugtitles</h1>

<table>
  <tr>
    <th>title</th>
    <th>deadline</th>
    <th>Type</th>
     <th>status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bugtitle| %>
  <tr>
    <td><%= bug.title %></td>
    <td><%= bug.deadline %></td>
    <td><%= bug.type %></td>
    <td><%= bug.status %></td>
    <td><%= link_to 'Show', [bug.project, bug] %></td>
    <td><%= link_to 'Edit', edit_project_bug_path(bug.project, bug) %></td>
    <td><%= link_to 'Destroy', [bug.project, bug], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug', new_project_bug_path(params[:project_id]) %>
