<p id="notice"><%= notice %></p>

<p>
  <b>Title</b>
  <%= @bug.title %>
</p>

<p>
  <b>Deadline</b>
  <%= @bug.deadline %>
</p>

<p>
  <b>Type:</b>
  <%= @bug.type %>
</p>

<p>
  <b>Status</b>
  <%= @bug.status %>
</p>
<p>
  <b>Project:</b>
  <%= @bug.project %>
</p>


<%= link_to 'Edit', edit_project_bug_path(@bug.project, @bug) %> |
<%= link_to 'Back', project_bugs_path(@bug.project) %>
